.cropped_gwas {
    width: 850px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}

.cropped_prs {
    width: 500px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}

.cropped_int {
    width: 500px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}

.cropped_calc {
    width: 200px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
}

.cropped_auto {
    width: 1200px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}

.cropped_centr {
    width: 3000px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
}

.cropped_ld {
    width: 3000px; /* width of container */
    height: 230px; /* height of container */
    object-fit: cover;
}

.cropped_curse {
    width: 3000px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
}

.cropped_data {
    width: 3000px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
}

.cropped_fail {
    width: 1000px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
}

.cropped_succes {
    width: 3000px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.cropped_clu {
    width: 3000px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
}

.cropped_correcpop {
    width: 3000px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
}

.cropped_ld {
    width: 3000px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
}

.cropped_final {
    width: 3000px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}

.cropped_ppl {
    width: 3000px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 48%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
